@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  --background: #FFFFFF; /* Light mode background */
  --foreground: #1f2937; /* Light mode text */
}

.dark {
  --background: #000000 ; /* Dark mode background */
  --foreground: #f9fafb; /* Dark mode text */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}
/* Ensure the background is transparent and the text stays white */
input:-webkit-autofill {
  background-color: transparent !important; /* Ensure transparent background */
  color: white !important; /* Set the text color to white */
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* Keep transitions smooth */
}

/* Ensure that when autofilled and focused, the background and text color stay consistent */
input:-webkit-autofill:focus {
  background-color: transparent !important; /* Keep transparent background */
  color: white !important; /* Keep text color white */
}

