@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  background-color: #000000;
}

nav {
  /* Add a subtle shadow below the navbar */
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.instagram-icon {
  width: 30px; /* Adjust as needed */
  height: 50px; /* Ensure it maintains the aspect ratio */
  display: block; /* Prevent unexpected layout issues */
}

.icon-container {
  display: inline-block; /* Keeps the container inline */
  width: auto;
  height: auto;
  overflow: hidden; /* Prevents unexpected scaling issues */
}

input:-webkit-autofill {
  background-color: transparent !important; /* Ensure transparent background */
  color: white !important; /* Set the text color to white */
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* Keep transitions smooth */
}

/* Ensure that when autofilled and focused, the background and text color stay consistent */
input:-webkit-autofill:focus {
  background-color: transparent !important; /* Keep transparent background */
  color: white !important; /* Keep text color white */
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccb675;
  width: 5px;
}