@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  --background: #FFFFFF; /* Light mode background */
  --foreground: #1f2937; /* Light mode text */
}

.dark {
  --background: #000000 ; /* Dark mode background */
  --foreground: #f9fafb; /* Dark mode text */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}
